<div id="confirm">
<div id="confirm-box">
    <div><h2>Hello {{firstName}} {{lastName}}</h2></div><br>
    <div>We will contact {{email}} shortly</div><br>
    <div>Let&apos;s Start Shopping!</div><br>
    <button><a href="/">Go to Main Page</a></button>
    <div></div>
</div>
</div>