<form method="POST" action="/product/add" enctype="multipart/form-data">
    <div id="productAdd-box">
        <div id="productAdd-grid">
            <h2>Add Product</h2>

            <label>Product Name</label>
            <input type="text" name="productName" id="productNameAdd"> <br><br>

            <label>Price</label>
            <input type="text" name="price" id="priceAdd"> <br><br>

            <label>Description</label>
            <textarea id="descriptionAdd" name="description"></textarea><br><br>

            <label>Category</label>
            <input type="text" name="category" id="categoryAdd"> <br><br>

            <label>quantity</label>
            <input type="text" name="quantity" id="quantityAdd"> <br><br>

            <label>bestSeller</label>
            <input type="text" name="bestSeller" id="bestSellerAdd"> <br><br>

            <label>Product Photo</label>
            <input type="file" name="productPic" id="productPicAdd"> <br><br>


            <input type="submit" value="Add Product" id="submitButton">
        </div>
    </div>
</form>