<div id="product-title-board">
    <div id="product-board-title">
        User Dashboard
    </div>

</div>



<div id="div_Board">
    <div id="product-board-holder">
        <div id="shoppingCartPhoto">
            <a href="/product/cart">
                <img src="/images/cart.jpeg" alt=""><br>
                Check My Shopping Cart <br>
                <span>{{#if session.cart.totalQty}}{{session.cart.totalQty}} Items in Cart{{/if}}</span>
            </a>
        </div>

        <div id="goshoppingPhoto">
            <a href="/product">
                <img src="/images/shopping.jpeg" alt=""><br>
                Lets go Shopping</a>
        </div>

    </div>
    <br>

</div>