<div id="div_Board">
    <br>

    <h2>User Dashboard</h2><br>

    <br>
    <div id="product-links-holder">
        <a href="/product/cart">My Shopping Cart</a>
        <a href="/product">Lets go Shopping</a>
    </div>
    <br>

</div>