* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Arimo', 'Tahoma', 'sans-serif';
    list-style: none;
}
a:visited, a:link{
    color: grey;
}
a:active, a:hover{
    color: pink;
}
#home {
    box-sizing: border-box;
    background-color: black;
    display: grid;
    height: 15vh;
    min-height: 100px;
    align-items: center;
    grid-template-columns: 10% 50% 40%;
    font-family: 'Odibee Sans', cursive;
}
#promotion img:hover {
    opacity: 0.8;
    
}
#home h1 {
    margin-left: 5em;
    display: inline;
    color: white;
}
.nav-h ul li{
    text-decoration: none;
    list-style: none;
    display: inline;
}
#category-bar {
    margin: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}
#logo-h{
    width: 100px;
    height: 80px;
    margin-left: 20px;
}
#promotion img {
    width: 100vw;
    height: 80vh;
}
#category-flex { 
    /* margin-top: -20vh; */
    width: 100vw;
    height: 42vh;
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    background-color: lightgrey;
    
}
#flexbox-category{
    border-radius: 10px;
}
#category-flex a {
    width: 24vw;
    margin: 7px;
}
#flexbox-category {
    background-color: white;
}
#flexbox-category-name {
    /* padding: 0.25em; */
    padding-left: 5px;
    font-family: 'PT Sans', sans-serif;
    /* font-weight: 550; */
}
#category-flex img {
    max-width: 100%;
    height: 33vh;
    /* width: 23vw;
    height: 34vh; */
}
#bestSeller {
    width: 100vw;
    margin: 40px 0px;
    /* padding: 10px; */
}
#bestSeller_tag {
    font-size: 1.4em;
}

#bestSeller_flex {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#best_product {
    display: flex;
}
#best_product img {
    padding-top: 20px;
    width: 15vw;
    justify-items: space-around;
}
#product {
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    grid-gap: 1rem;
}
#product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    justify-items: center;
    align-items: center;
    
}
#product-grid-item{
    justify-items: center;
    align-items: center;
}


#product-image img{
    width: 260px;
    height: 260px;
    margin: 5px 0px;
    /* height: 220px; */
}
#regular-price {
    text-decoration: line-through;
    color: red;
}
#product-price {
    color: orange;
    /* font-weight: bold; */
}
#product-title a:link, #product-title a:visited{
    color: blue;
}
#product-number {
    display: inline-block;
    margin-left: 0.4vw;
    width: 30px;
    background-color: orange;
    border-radius: 10px;
    padding-left: 0.5vw;
    color: white;
}
#best-button {
    margin-left: 14em;
    width: 40px;
    height: 3vh;
    border-radius: 1.2em;
    background-color: rgb(0, 115, 255);
    color: white;
    font-size: 0.7em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Register */
input {
    border-radius: 0.2rem;
    width: 32vw;
    height: 4vh;
}
#register{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 120vh;
}
#register-box {
    border-radius: 1.1em;
    border: 1px solid grey;
    padding: 1em;
}

.registerWarning {
    color: red;
}
#submitButton {
    background-color: papayawhip;
    font-size: 1.2em;
    height: 5vh;
}
#registerErrors {  
    color: pink;
    /* background-color: grey; */
}
#confirm {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: grey;
}
#confirm-box {
    background-color: grey;
    border-radius: 0.3em;
    padding: 10px;
    width: 50vw;
    height: 30vh;
    color: pink;
    font-weight: bold;
    font-size: 1.3em
}
#confirm-box a:visited {
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button {
    background-color: black;
    width: 10vw;
    height: 4vh;

}
#login-box {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 70vh;    
}
#login-grid {
    border: 1px solid grey;
    border-radius: 1.1em;
    padding: 10px;
}
footer{
    background-color: black;
    min-height: 100px;    
}
#footer-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
    /* grid-auto-rows: 100px; */
}
#footer-logo img{
    width: 100px;
    height: 80px;
    margin-left: 20px;
}
.icons {
    margin: 30px 0;
}
.icons a {
    background-image: url(/images/icons.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
}

.icons a.twitter    {background-position: left top;}
.icons a.facebook   {background-position: center top;}
.icons a.pinterest  {background-position: right top;}
.icons a:hover      {background-position-y: bottom;}



@media (max-width: 1000px){
    #home {
        grid-template-columns: 40% 1fr;
        grid-template-rows: 1fr 1fr;
        height: 25vh;
    }
    #home h1{
        order:1;
    }
    #category-flex{
        margin-top: 0;
        flex-wrap: wrap;
        height: 80vh;
        justify-content: center;
        align-content: center;
    }
    #category-flex a {
        width: 45vw;
        margin: 7px;
    }
    #product-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    #bestSeller_flex{
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    #best_product img {
        width: 30vw;
        justify-items: space-around;
    }
    
}
@media (max-width: 724px){
    #product{
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    #category{
        display: none;
    }
    #product-image img{
        width: 240px;
        height: 240px;
        margin: 5px 0px;
        /* height: 220px; */
    }
    #product-grid {
            grid-template-columns: repeat(2, 1fr);

    }
    #register-box{width: 70vw}
    #register-box input , #login-box input{
        width: 50vw;
    }
}
